# Ignore sensitive docker folders
certbot/
ddclient/
nginx/
mqtt/

# Other
init-letsencrypt.sh

# Ignore folders.
.storage
.cloud
.google.token
www/

# Ignore hidden control files.
.HA_VERSION
.homekit.state

# Ignore logs & db files.
*.log
*.db

# Ignore sensitive home assistant files
ip_bans.yaml
secrets.yaml
known_devices.yaml
broadlink.yaml
